body {

	border: 10px orange;
}
p {
	font: 15px bold arial;
}
h1 {
	font-stretch: expanded;
}
h2 {
	font size: 24px;
}
body {
	background color: green;
}
body {

	background-color: yellow;
}