body {
	background-color: #F0E68C;

}
h1 {
	font-style: arial;
}
h1 {
	border: 5px solid red;
}
h2 {
	font-style: italic
}
h2 {
	border-width: 5px;
}
h2 {
	border-color: yellow;
}
p {
	font-family: Arial;
}
h1{ 
	font-size: 40px;
 }
 .hlt {
 		font-family: verdana;
 }
 #bold {
 	font-style: oblique;
 }
 .class1 {
    margin-top: 2cm;
 }
 .class2{
 		border-style: dashed;
 }
 .class3{
 		border-style: dotted;
 }
 .class4{
 		border-style: double;

 }
 .class5{
 	color: solid red;
 }
 h3 {
 	border-style: double;
 }
 h5 {
 	color: #1E90FF;
 }
 h5 {font-family: "Comic Sans MS", cursive, sans-serif;

 }
 h5 {
 	border-style: dotted
 	
 }
 h5 {
 	border-width: 6px;
 }
 a:hover {
    background-color: yellow;
}
div > p {
	background-color: #FFA500;
}
div * {
	border-style: double;
	border-width: 23px;

}